<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bergen (BSD &amp;) Linux User Group {% block pagetitle %}{% endblock %}</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <div class="headerbar">
      <img src="images/bluglogo.svg" class="logo">
        <h1><a href="/">Bergen (BSD &amp;) Linux User Group</a></h1>
    </div>
  </header>
  {% block body %}{% endblock %}
  <footer></footer>
</body>
