{% extends "base_generic.html" %}
{% block pagetitle %}Bergen (BSD&amp;) Linux User Group - {% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
    <h1><small>{{neste.event.start|date:"E Y"|lower}}</small><br>{{neste.title}}</h1>
    <dl>
      <dt>Tid</dt>
      <dd>{{neste.event.start}}</dd>
      <dt>Sted</dt>
      <dd>{{neste.event.location}}</dd>
      <dt>Foredragsholder</dt>
      <dd>{{neste.event.speaker}}</dd>
    </dl>
    <p><a class="btn btn-primary btn-lg" href="{{neste.filename}}.html" role="button">Mer informasjon &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">kommende møter</h3>
        </div>
        <div class="panel-body">
      <ul>
        {% for other in kommende|dictsort:"event.start" %}
        <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
        {% endfor %}
      </ul>


    </div></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tidligere møter</h3>
      </div>
      <div class="panel-body">
      <ul>
        {% for other in tidligere|dictsort:"event.start" %}
        <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
        {% endfor %}
      </ul>
    </div></div>
    </div>
  </div>
</div>



<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Om BLUG</h2>
      <p>BLUG er en Brukergruppe for GNU/Linux, BSD og annen fri programvare i Bergen. Her møtes folk som jobber med GNU/Linux og BSD til daglig, entusiaster og andre som har interesse for fri programvare.</p>
      <p>BLUG har møter med foredrag siste torsdag i måneden, og ellers møtes vi hver torsdag på Henrik for å prate om løst og fast.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      <h2>BLUG i sosiale medier</h2>
      <p><a href="https://twitter.com/bergenlug">@bergenlug</a> på twitter</p>
      <p><a href="https://facebook.com/bergenlug">bergenlug</a> på facebook</p>
    </div>
    <div class="col-md-4">
      <h2>Samarbeidspartnere og finansiering</h2>
      <p>BLUG er støttet av næringslivet og privatpersoner i Bergen gjennom Organisasjonen for Fremme av Fri Programvare i Bergen og Omegn.</p>
      <p><a class="btn btn-default" href="#" role="button">Mer informasjon &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Epostlistene</h2>
      <p>BLUG-listen er BLUGs hovedkommunikasjonskanal, her diskuteres tips og løsninger på problemer.
        Her kan du spørre hvis det er noe du lurer på rundt linux og fri programvare. Her går det ca 12 eposter i måneden.</p>
        <p><a class="btn btn-default" href="http://mailman.uib.no/listinfo/blug" role="button">Meld deg inn &raquo;</a></p>
        </p>
      <p>I tillegg har vi listen «BLUG-announce» hvor bare annonseringen av møter og arrangementer blir sendt.
        Her går det ca 1-3 eposter i måneden. Bare administratorer kan sende epost til denne listen.</p>
        <p><a class="btn btn-default" href="http://mailman.uib.no/listinfo/blug-announce" role="button">Abbonner &raquo;</a></p>

      <h2>IRC</h2>
      <p>Ellers prates vi på e-postlisten eller på IRC: #BLUG på freenode</p>
      <p><a class="btn btn-default" href="http://webchat.freenode.net/?channels=%23blug" role="button">Prat med oss! &raquo;</a></p>
    </div>
  </div>
  <footer>
    <p>CC: BY-SA Bergen Linux User Group</p>
  </footer>
</div>
{% endblock %}
