{% extends "base_generic.html" %}
{% block pagetitle %}{% endblock %}

{% block body %}
<div id="main">

<div class="col">
<p>
  BLUG er en Brukergruppe for GNU/Linux, BSD og annen fri programvare i Bergen.
  Her møtes folk som jobber med GNU/Linux og BSD til daglig, entusiaster og
  andre som har interesse for fri programvare.
</p>
</div>
<div class="col">
<p>
  BLUG er støttet av næringslivet og privatpersoner i Bergen gjennom
  Organisasjonen for Fremme av Fri Programvare i Bergen og Omegn.
</p>
</div>
<div class="col">
<p>
  BLUG har møter med foredrag siste torsdag i måneden, og ellers møtes vi hver
  torsdag på Henrik for å prate om løst og fast.
</p>
<p>
  Ellers prates vi på e-postlisten eller på IRC: #BLUG på freenode
  (webchat her)
</p>
</div>
<br style="clear:both;" />
</div>

<div id="meetings">
  <h2>Møter</h2>
  <div class="col">
    <fieldset>
      <legend>Neste møte</legend>
      <h3>{{neste.title}}</h3>
      <dl>
        <dt>Tid</dt>
        <dd>{{neste.event.start}}</dd>
        <dt>Sted</dt>
        <dd>{{neste.event.location}}</dd>
        <dt>Foredragsholder</dt>
        <dd>{{neste.event.speaker}}</dd>
      </dl>
      <a href="{{neste.filename}}.html">Les innkallingen</a>
    </fieldset>
  </div>
  <div class="col">
    <h3>Andre kommende møter</h3>
    <ul>
      {% for other in kommende|dictsort:"event.start" %}
      <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h3>Tidligere avholdte møter</h3>
    <ul>
      {% for other in tidligere|dictsort:"event.start" %}
      <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br style="clear:both" />
</div>

{% endblock %}
