{% extends "base_generic.html" %}
{% block pagetitle %} - Innkalling {{event.start|date:"E Y"|lower}}: {{title}}{% endblock %}

{% block body %}
<div id="main">
<section class="details">
  <h2><small>Innkalling:</small>{{title}}</h2>
<!--<img src="{{image}}" class="teaser">-->

</section>
<dl class="eventdetails">
  <dt>Tid</dt>
  <dd>{{event.start|date:"l d M Y H:i"}}</dd>
  <dt>Sted</dt>
  <dd>{{event.location}}</dd>
  <dt>Foredragsholder</dt>
  <dd>{{event.speaker}}</dd>
</dl>
<section class="body">
  {{content|safe}}
</section>
<ul>
{% for other in others.kommende|dictsort:"event.start" %}
  <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
{% endfor %}
</ul>
<ul>
  {% for other in others.tidligere|dictsort:"event.start" reversed %}
  <li><a href="{{other.filename}}.html">{{other.event.start|date:"Y-m-d"}} {{other.title}}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
