@import url("sourcesanspro/stylesheet.css");

/* DEFAULTS */
a,a:link,a:visited,a:active,a:focus {
  color:blue;
  text-decoration:none;
}
a:active,a:focus {
  background:rgba(0,0,0,.5);
}

body {
  /**/
  background:#CCC;
  margin:0;
  font-family:source_sans_proextralight, sans-serif;
}

#main {
  background:#FFF;
  max-width:600px;
  margin:auto;
  padding:10px;
}

@media all and (min-width: 1000px) {
  /*body {
    background:#000 url(../images/bergen.jpg) no-repeat fixed top center;
    background-size: 100% ;
  }*/
  #main { max-width: 1200px }
  #main > .col,
  #meetings > .col {
    box-sizing:border-box;
    float:left;
    width:33%;
    padding:10px;
  }
}






h1,h2,h3,h4,h5 {
  font-weight:normal;
  margin:0;
  padding:0;
}

h1 { font-size:300%;}
h2 { font-size:250%;}
h3 { font-size:200%;}

header h1 a {
  color:inherit;
  text-decoration:inherit;
}
header h1 {
  float:right;
  padding-right:20px;
}
#main > h2 {
  clear:both;
}

header {
  background:#FFF;
  margin:0;
  padding:0;
  overflow:hidden;
  box-shadow: 0px 1px 10px rgba(0,0,0,.8);
  margin-bottom:20px;
}
.logo {
  width:128px;
  float:left;
  margin:10px;
}
#meetings {
  background:#000;
  background-size: 100% ;
  box-shadow: 0px -1px 10px rgba(0,0,0,.8);
  color:#FFF;
}
#meetings a {
  color:orange;
}
